.skill
  .skill-names
    .skill-left
      .skill-HTML
        = icon('fab','html5', class: 'html-icon')
        .html5
          html5
        %p.html-p
          WEBページの内容を書くための言語です。伝えたい内容を文字、画像、表などを用いて作成します。
      .skill-sass
        = icon('fab','sass', class: 'sass-icon')
        .sass
          sass
        %p.sass-p
          WEBページのスタイルを指定する言語です。html5で作成した文字に色を付けるなど、ページをオシャレにします。


    .skill-right
      .skill-php
        = icon('fab','php', class: 'php-icon')
        .php
          php
        %p.php-p
          HTMLに埋め込むことができるため、Web開発でよく使用されるスクリプト言語です。
      .skill-javascript
        = icon('fab','js-square', class: 'js-icon')
        .js
          javascript
        %p.js-p
          Webサイトに動きをつけるために開発された言語です。パソコンやスマホ、テレビに至るまで、ほぼ全てのデバイスに使われています。