.footer
  //aiueo
  .container
    %ul.container__btn
      %li.container-item
        %a.footer-link{:href => "#contact"}
          = icon('fas','envelope', class: 'top-items__btn')
        %a.footer-link{:href => "#contact"}
          = icon('fab', 'twitter', class: 'top-items__btn')
      -# %li.container-item
    .container__net
      ©️ 2020 kamiyamas-portfolio.com