
.header-table
  //aiueo
  .header-table-center
    //kakikukeko
    .container
      .container-title
        Welcome!!
      .container-letter
        %li
          W E B 制作でお困りごとはありませんか？
        %li
          あなたの W E B 制作をお手伝いさせていただきます。

      .contact-me
        %a.contact-link{:href => profile_messages_path}Profile
        %a.contact-link{:href => skill_messages_path}Skill
        %a.contact-link{:href => service_messages_path }Service
        %a.contact-link{:href => contact_messages_path }Contact Me


      
    
    
