.service
  -# .my-services
  -#   My Services
  -# .back-home
  -#   %a.back-home{:href => root_path }back-home

  .List-of-service
    .coding
      .coding-children
        .child-icon
          = icon('fas','code', class: 'coding-icon')
        .coding-div
          %p コーディング
        %p.coding-p
          お客様の望むデザインの意思を理解し、動きや効果を適切に使用する事でWebサイトの仕上がりは大きく変わります。
          %br/
          スマートフォンサイトや更新性の高いサイト、JavaScriptを使用した動きのあるサイトなど、様々なサイトのコーディングを手掛けさせて頂きます。
          
    .LP
      .LP-children
        .child-icon
          = icon('fas','tv', class: 'LP-icon')
        .LP-div
          %p LP製作
        %p.LP-p
          訪れる人にとっての第一印象となり得るランディングページ。
          %br/
          キャッチコピー部分からアクション部分まで、クライアント様の望むLP制作に尽力させて頂きます。
    .Wordpress
      .Wordpress-children
        .child-icon
          = icon('fas','palette', class: 'Wordpress-icon')
        .Wordpress-div
          %p デザイン
        %p.Wordpress-p
          ヒアリングに基づいたデザインを作成します。「こんなサイトにしたい！」「こんな動きを付けたい！」など細かなご要望でも構いません。お気軽にご相談ください。誠心誠意ご対応させて頂きます。
          %br/
          
          %br/
          