.profile
  -# .profile-header
  -#   .header-top
  -#     My Profile
  -#   .header-back
  -#     %a.header-link{:href => root_path }→back Home←

  .section
    .section__left
      .my-image       
    .section__right
      .right-box
        .about-me
          About Me
        .myname
          神山 大晟 (Taisei Kamiyama)
        .writing
          %li  青森県出身の２２歳。2019年から本格的にプログラミング学習を開始。
          %li  現在テックエキスパート68期生として学習中。
          %li  主にHTML , CSS  , Javascript , jQueryが得意。
        .birthday
          誕生日:  1997/03/04
        .live
          住まい:  埼玉県
        .link-icon
          %a.footer-link{:href => "#contact"}
            = icon('fas','envelope', class: 'top-items__btn')
            = icon('fab', 'twitter', class: 'top-items__btn')

